@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">

    <h1 class="display-4">Soy Alberto De León</h1>

    <h2>Soy un desarrollador Full Stack especializado en tecnologías .NET y JavaScript</h2>

    <img
        id="foto"
        src="~/imagenes/Foto.jpg" alt="Foto" 
    />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/net.png" alt="dotnet" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy un programador con más de cinco años de experiencia en el desarrollo de aplicaciones web y móviles.
            He trabajado con diferentes lenguajes y frameworks, como Java, Python, Django, React y Angular. 
            Me apasiona crear soluciones innovadoras y eficientes para los problemas de los usuarios. 
            Me considero un aprendiz constante y un colaborador proactivo en los equipos de trabajo.
        </p>
    </div>
</div>