@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>#Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Alberto</td>
            <td>De León</td>
        </tr>
        <tr class="table-success">
            <td>2</td>
            <td>Diana</td>
            <td>De León</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Michelle</td>
            <td>Bartenfield</td>
        </tr>
    </tbody>
</table>